<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Define product information -->
    <Product Id="*" 
             Name="Smart News Scraper" 
             Language="1033" 
             Version="1.0.0" 
             Manufacturer="PSI" 
             UpgradeCode="12345678-1234-1234-1234-123456789012">
        
        <!-- Define package information -->
        <Package InstallerVersion="200" 
                 Compressed="yes" 
                 InstallScope="perMachine" 
                 Description="Smart News Scraper - Pharmaceutical Security Intelligence Tool"
                 Comments="Analyzes news articles for pharmaceutical security intelligence" />
        
        <!-- Use WiX standard UI -->
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        
        <!-- Define media -->
        <Media Id="1" Cabinet="SmartNewsScraper.cab" EmbedCab="yes" />
        
        <!-- Define upgrade behavior -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <!-- Define directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Smart News Scraper">
                    <!-- Define application components -->
                    <Component Id="ApplicationFiles" Guid="*">
                        <File Id="ApplicationExe" 
                              Source="dist\SmartNewsScraper\SmartNewsScraper.exe" 
                              KeyPath="yes">
                            <Shortcut Id="StartMenuShortcut" 
                                      Directory="ProgramMenuFolder" 
                                      Name="Smart News Scraper" 
                                      WorkingDirectory="INSTALLFOLDER" 
                                      Icon="SmartNewsScraper.exe" 
                                      IconIndex="0" 
                                      Advertise="yes" />
                            <Shortcut Id="DesktopShortcut" 
                                      Directory="DesktopFolder" 
                                      Name="Smart News Scraper" 
                                      WorkingDirectory="INSTALLFOLDER" 
                                      Icon="SmartNewsScraper.exe" 
                                      IconIndex="0" 
                                      Advertise="yes" />
                        </File>
                    </Component>
                    
                    <!-- Create component group for all files in dist folder -->
                    <ComponentGroup Id="DistributionFiles" Directory="INSTALLFOLDER">
                        <!-- This will be populated by the heat.exe tool -->
                    </ComponentGroup>
                </Directory>
            </Directory>
            
            <!-- Define program menu folder -->
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Component Id="ProgramMenuDir" Guid="*">
                    <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                    <RegistryValue Root="HKCU" 
                                   Key="Software\PSI\SmartNewsScraper" 
                                   Type="string" 
                                   Value="" 
                                   KeyPath="yes" />
                </Component>
            </Directory>
            
            <!-- Define desktop folder -->
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>
        
        <!-- Define features -->
        <Feature Id="ProductFeature" Title="Smart News Scraper" Level="1">
            <ComponentRef Id="ApplicationFiles" />
            <ComponentRef Id="ProgramMenuDir" />
            <ComponentGroupRef Id="DistributionFiles" />
        </Feature>
        
        <!-- Define icons -->
        <Icon Id="SmartNewsScraper.exe" SourceFile="dist\SmartNewsScraper\SmartNewsScraper.exe" />
        
        <!-- Set application icon in Add/Remove Programs -->
        <Property Id="ARPPRODUCTICON" Value="SmartNewsScraper.exe" />
        <Property Id="ARPHELPLINK" Value="https://github.com/PSI/smart-news-scraper" />
        
        <!-- Custom actions -->
        <InstallExecuteSequence>
            <!-- Add any custom actions here if needed -->
        </InstallExecuteSequence>
    </Product>
</Wix>